<a href="https://colab.research.google.com/github/unknown-jun/Basic_of_Python/blob/master/21_Dec_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#148. 파이썬과 Oracle 연동

- 데이터의 구조에 따른 종류 3가지
    1. 정형화 데이터: RDBMS 에 저장된 데이터
                Relational DataBase Management System
                ( 관계형 데이터 베이스 관리 시스템 )
    2. 반정형 데이터: html, 웹로그 데이터, xml
    3. 비정형 데이터: 동영상, 사진, 이미지, sns의 텍스트 데이터

- 오라클과 파이썬을 연동하는 이유?
    1. 오라클 데이터 베이스에서 실시간으로 변하는 데이터를 csv 파일로 매번 내리기엔 번거로운 점이 있다.

    2. 파이썬의 여러 장점들을 이용해서 데이터를 분석할 수 있기 때문  
    (통계 구현, 시각화, 머신러닝 구현, 업무 자동화)

    3. 폐사진을 숫자로 변환해서 오라클 database에 저장함  
     이미지를 숫자로 변환하여 오라클 database에 저장함
     DB에 저장하고 관리를 함 ( OS에 파일로 남겨만 두지 않음 )  
            DB에 저장하면 백업과 복구를 할 수 있다라는 장점이 있다.
            효율적으로 data를 관리를 할 수가 있음
            OS에 파일로 저장되어 있으면 바이러스에 노출될 수도 있음

- 오라클과 파이썬 연동
    1. 도스창을 열고 리스너의 상태를 확인할 수 있음  
    리스너 상태를 확인하는 명령어: lsnrctl status  
            맥: docker exec -it oracle2 lsnrctl stauts

            리스너: 외부에서 오라클에 접속하려면 리스너를 통해야지만 접속이 가능
            리스너가 그 접속을 허영해줌
            리스너가 가지고 있는 정보 중 3가지를 확인해야 함
            1. IP 주소 (건물 주소):
            2. 포트번호 (건물안의 복도):
            3. 서비스 이름 (회사 이름)

    2. 위의 정보들을 이용해서 오라클 databse 에 접속  
            윈도우: sqlplus scott/tiger@localhost: 숫자 4자리/xe  
            맥: docker exec -it oracle2 sqlplus scott/tiger@localhost: 숫자 4자리/xe
    3. 아나콘다 프롬프트 창을 열고 cx_Oracle 모듈을 설치함
            conda install cx_Oracle
    4. 파이썬에서 오라클과 연동하는 코드를 작성한다.
            import cx_Oracle
            import pandas as pd

            dsn = cx_Oracle("localhost", 숫자네자리, 'xe')

**문제440. 위의 emp 테이블 전체를 select 했는데 전체를 다 select 하지 말고 아래의 쿼리의 결과만 select 하시오 !**

~~~
select  empno, ename, sal, deptno
   from emp;
~~~

In [ ]:
import  cx_Oracle
import  pandas  as   pd

dsn = cx_Oracle.makedsn("localhost", 1522, 'xe' )  #오라클 주소를 기입한다.
db = cx_Oracle.connect('system', 'oracle', dsn ) # 오라클 접속 유져 정보
cursor = db.cursor() # 결과 데이터를 담을 메모리 이름을 cursor 로 선언함
cursor.execute(""" select * from  dept""") # 작성한 쿼리문의 결과가 
                                                     # cursor 메모리에 담긴다. 
row = cursor.fetchall()   # cursor 메모리에 담긴 결과를 한번에 row 변수에
                               # 담는다.
dept= pd.DataFrame(row)
print (dept)

**문제441.   dept 테이블의 모든 데이터를 조회하시오 !**

In [ ]:
import  pandas  as   pd

dsn = cx_Oracle.makedsn("localhost", 1522, 'xe' )  #오라클 주소를 기입한다.
db = cx_Oracle.connect('system', 'oracle', dsn ) # 오라클 접속 유져 정보
cursor = db.cursor() # 결과 데이터를 담을 메모리 이름을 cursor 로 선언함
cursor.execute(""" select * from  emp12 """) # 작성한 쿼리문의 결과가 
                                                     # cursor 메모리에 담긴다. 
row = cursor.fetchall()   # cursor 메모리에 담긴 결과를 한번에 row 변수에
                               # 담는다.
emp12 = pd.DataFrame(row)
print (emp12)

**문제442.  우리반 테이블(emp12) 를 조회하시오 !**

In [ ]:
import  pandas  as   pd

dsn = cx_Oracle.makedsn("localhost", 1522, 'xe' )  #오라클 주소를 기입한다.
db = cx_Oracle.connect('system', 'oracle', dsn ) # 오라클 접속 유져 정보
cursor = db.cursor() # 결과 데이터를 담을 메모리 이름을 cursor 로 선언함
cursor.execute(""" select * from  emp12 """) # 작성한 쿼리문의 결과가 
                                                     # cursor 메모리에 담긴다. 
row = cursor.fetchall()   # cursor 메모리에 담긴 결과를 한번에 row 변수에
                               # 담는다.
emp12 = pd.DataFrame(row)
print (emp12)

**문제444.  사원 테이블의 월급을 막대 그래프로 그리시오**

In [ ]:
import cx_Oracle
import  pandas  as   pd

dsn = cx_Oracle.makedsn("localhost", 1522, 'xe' )  #오라클 주소를 기입한다.
db = cx_Oracle.connect('system', 'oracle', dsn ) # 오라클 접속 유져 정보
cursor = db.cursor() # 결과 데이터를 담을 메모리 이름을 cursor 로 선언함
cursor.execute(""" select ename,sal from  emp """) # 작성한 쿼리문의 결과가 
                                                     # cursor 메모리에 담긴다. 
row = cursor.fetchall()   # cursor 메모리에 담긴 결과를 한번에 row 변수에
                               # 담는다.
emp = pd.DataFrame(row)
print(list(emp[0]))
emp.index = list(emp[0])  
emp.plot(kind='bar') 
db = cx_Oracle.connect('sys', 'oracle_4U', dsn, cx_Oracle.SYSDBA)

**문제446.  직업, 직업별 최대월급을 출력하시오 !**

In [ ]:
import cx_Oracle
import  pandas  as   pd

dsn = cx_Oracle.makedsn("localhost", 1522, 'xe' )  #오라클 주소를 기입한다.
db = cx_Oracle.connect('system', 'oracle', dsn ) # 오라클 접속 유져 정보
cursor = db.cursor() # 결과 데이터를 담을 메모리 이름을 cursor 로 선언함
cursor.execute(""" select job, max(sal) from  emp group by job """) # 작성한 쿼리문의 결과가 
                                                   
row = cursor.fetchall()   # cursor 메모리에 담긴 결과를 한번에 row 변수에
emp = pd.DataFrame(row)
print(emp)

**문제447.  직업, 직업별 토탈월급을 출력하는데 직업별 토탈월급이 높은것부터 출력하시오 !**

In [ ]:
import cx_Oracle
import  pandas  as   pd

dsn = cx_Oracle.makedsn("localhost", 1522, 'xe' ) .
db = cx_Oracle.connect('system', 'oracle', dsn ) 
cursor = db.cursor() 
cursor.execute(""" select job, sum(sal) 
                          from  emp 
                          group by job 
                          order by sum(sal) desc """) 
                                                   
row = cursor.fetchall()   
emp = pd.DataFrame(row)
print(emp)

**문제 448. 이름, 월급, 순위를 출력하는데 순위가 월급이 높은 사원순으로 순위를 부여하시오**

In [ ]:
import cx_Oracle
import pandas as pd

dsn = cx_Oracle.makedsn("localhost", 1521, "xe")
db = cx_Oracle.connect("scott", "tiger", dsn)
cursor = db.cursor()
cursor.execute(""" select ename, sal
               dense_rank() over (order by sal desc) rnk
               from emp """)

row = cursor.fetchall()
emp = pd.DataFrame(row)
print(emp)

**문제 449. 부서번호, 부서번호별 토탈월급을 출력하시오!**

In [ ]:
import cx_Oracle
import pandas as pd

dsn = cx_Oracle.makedsn("localhost", 1521, "xe")
db = cx_Oracle.connect("scott", "tiger", dsn)
cursor = db.cursor()
cursor.execute(""" select deptno, sum( sal )
               from emp 
               group by deptno""")

row = cursor.fetchall()
emp = pd.DataFrame(row)
print(emp)

**문제 450. 위의 결과를 막대그래프로 시각화하시오**

In [ ]:
import cx_Oracle
import pandas as pd

dsn = cx_Oracle.makedsn("localhost", 1521, 'xe') # 오라클 주소를 기입 
db = cx_Oracle.connect('scott', 'tiger', dsn)  # 오라클 접속 유저 정보
cursor=db.cursor()  # 결과데이터를 담을 메모리 이름을 cursor로 선언
cursor.execute(""" select * from emp """) # 작성한 쿼리문의 결과가 cursor 메모리에 담긴다.

dsn = cx_Oracle.makedsn("localhost", 1521, "xe")
db = cx_Oracle.connect("scott", "tiger", dsn)
cursor = db.cursor()
cursor.execute(""" select deptno, sum( sal )
               from emp 
               group by deptno""")

row = cursor.fetchall()
emp = pd.DataFrame(row)
emp.index = list(emp[0])
emp.plot(kind='bar', color='blue')

**문제 451. emp 테이블 전체를 출력하는데 컬럼명이 붙어서 출력되게 하시오**

In [ ]:
import cx_Oracle
import pandas as pd

dsn = cx_Oracle.makedsn("localhost", 1521, 'xe') # 오라클 주소를 기입 
db = cx_Oracle.connect('scott', 'tiger', dsn)  # 오라클 접속 유저 정보
cursor=db.cursor()  # 결과데이터를 담을 메모리 이름을 cursor로 선언
cursor.execute(""" select * from emp """) # 작성한 쿼리문의 결과가 cursor 메모리에 담긴다.

dsn = cx_Oracle.makedsn("localhost", 1521, "xe")
db = cx_Oracle.connect("scott", "tiger", dsn)
cursor = db.cursor()
cursor.execute(""" select *
               from emp """)
               
row = cursor.fetchall()
emp = pd.DataFrame(row)
colname = cursor.description   # 컬럼명을 가져온다
col = []
for i in colname:
    col.append( i[0].lower() )
print(col)

**문제 452. 위의 col 리스트에 담긴 컬럼명을 위의 데이터에 매핑시켜보시오**

In [ ]:
import cx_Oracle
import pandas as pd

dsn = cx_Oracle.makedsn("localhost", 1521, 'xe') # 오라클 주소를 기입 
db = cx_Oracle.connect('scott', 'tiger', dsn)  # 오라클 접속 유저 정보
cursor=db.cursor()  # 결과데이터를 담을 메모리 이름을 cursor로 선언
cursor.execute(""" select * from emp """) # 작성한 쿼리문의 결과가 cursor 메모리에 담긴다.

dsn = cx_Oracle.makedsn("localhost", 1521, "xe")
db = cx_Oracle.connect("scott", "tiger", dsn)
cursor = db.cursor()
cursor.execute(""" select *
               from emp """)
               
row = cursor.fetchall()
emp = pd.DataFrame(row)
colname = cursor.description   # 컬럼명을 가져온다

col = []
for i in colname:
    col.append( i[0].lower() )

emp = pd.DataFrame(list(row), columns=col)
print(emp)

**문제 453. 위의 컬럼명을 이용해서 판다스 문법으로 이름과 월급을 출력하시오**

In [ ]:
import cx_Oracle
import pandas as pd

dsn = cx_Oracle.makedsn("localhost", 1521, 'xe') # 오라클 주소를 기입 
db = cx_Oracle.connect('scott', 'tiger', dsn)  # 오라클 접속 유저 정보
cursor=db.cursor()  # 결과데이터를 담을 메모리 이름을 cursor로 선언
cursor.execute(""" select * from emp """) # 작성한 쿼리문의 결과가 cursor 메모리에 담긴다.

dsn = cx_Oracle.makedsn("localhost", 1521, "xe")
db = cx_Oracle.connect("scott", "tiger", dsn)
cursor = db.cursor()
cursor.execute(""" select *
               from emp """)
               
row = cursor.fetchall()
emp = pd.DataFrame(row)
colname = cursor.description   # 컬럼명을 가져온다

col = []
for i in colname:
    col.append( i[0].lower() )

emp = pd.DataFrame(list(row), columns=col)
print( emp[['ename', 'sal']] )

**문제 454. 월급이 3000 이상인 사원들의 이름과 월급을 출력하시오***

In [ ]:
import cx_Oracle
import pandas as pd

dsn = cx_Oracle.makedsn("localhost", 1521, 'xe') # 오라클 주소를 기입 
db = cx_Oracle.connect('scott', 'tiger', dsn)  # 오라클 접속 유저 정보
cursor=db.cursor()  # 결과데이터를 담을 메모리 이름을 cursor로 선언
cursor.execute(""" select * from emp """) # 작성한 쿼리문의 결과가 cursor 메모리에 담긴다.

dsn = cx_Oracle.makedsn("localhost", 1521, "xe")
db = cx_Oracle.connect("scott", "tiger", dsn)
cursor = db.cursor()
cursor.execute(""" select *
               from emp """)
               
row = cursor.fetchall()
emp = pd.DataFrame(row)
colname = cursor.description   # 컬럼명을 가져온다

col = []
for i in colname:
    col.append( i[0].lower() )

emp = pd.DataFrame(list(row), columns=col)
print( emp[[ 'ename', 'sal' ]][ emp['sal'] >=3000 ] )

**문제 455.부서위치별 이름을 출력하시오**

In [ ]:
import cx_Oracle
import pandas as pd

dsn = cx_Oracle.makedsn("localhost", 1521, 'xe') # 오라클 주소를 기입 
db = cx_Oracle.connect('scott', 'tiger', dsn)  # 오라클 접속 유저 정보
cursor=db.cursor()  # 결과데이터를 담을 메모리 이름을 cursor로 선언
cursor.execute(""" select * from emp """) # 작성한 쿼리문의 결과가 cursor 메모리에 담긴다.

dsn = cx_Oracle.makedsn("localhost", 1521, "xe")
db = cx_Oracle.connect("scott", "tiger", dsn)
cursor = db.cursor()
cursor.execute(""" select e.ename, d.loc
               from emp e, dept d
               where e.deptno = d.deptno """)
               
row = cursor.fetchall()
emp = pd.DataFrame(row)
print(emp)

**문제 456. 부서위치, 부서위치별 토탈월급을 출력하시오**

In [ ]:
import cx_Oracle
import pandas as pd

dsn = cx_Oracle.makedsn("localhost", 1521, 'xe') # 오라클 주소를 기입 
db = cx_Oracle.connect('scott', 'tiger', dsn)  # 오라클 접속 유저 정보
cursor=db.cursor()  # 결과데이터를 담을 메모리 이름을 cursor로 선언
cursor.execute(""" select * from emp """) # 작성한 쿼리문의 결과가 cursor 메모리에 담긴다.

dsn = cx_Oracle.makedsn("localhost", 1521, "xe")
db = cx_Oracle.connect("scott", "tiger", dsn)
cursor = db.cursor()
cursor.execute(""" select d.loc, sum( e.sal )
               from emp e, dept d
               where e.deptno = d.deptno
               group by d.loc""")
               
row = cursor.fetchall()
emp = pd.DataFrame(row)
print(emp)

**문제 457. 위의 결과를 막대그래프로 시각화 하시오**

In [ ]:
import cx_Oracle
import pandas as pd

dsn = cx_Oracle.makedsn("localhost", 1521, 'xe') # 오라클 주소를 기입 
db = cx_Oracle.connect('scott', 'tiger', dsn)  # 오라클 접속 유저 정보
cursor=db.cursor()  # 결과데이터를 담을 메모리 이름을 cursor로 선언
cursor.execute(""" select * from emp """) # 작성한 쿼리문의 결과가 cursor 메모리에 담긴다.

dsn = cx_Oracle.makedsn("localhost", 1521, "xe")
db = cx_Oracle.connect("scott", "tiger", dsn)
cursor = db.cursor()
cursor.execute(""" select d.loc, sum( e.sal )
               from emp e, dept d
               where e.deptno = d.deptno
               group by d.loc""")
               
row = cursor.fetchall()
emp = pd.DataFrame(row)
emp.index = list( emp[0] )
emp.plot( kind = 'bar', color = 'black' )

#149. 파이썬과 mySQL 연동

- 현업에서는 오라클도 많이 쓰지만 mySQL도 많이 사용함
- 오라클은 가격이 많이 나가서 중요한 데이터(Business data) 오라클에 저장하고 
- 상대적으로 덜 중요한 데이터는 mySQL에 저장함

- MySQL을 실행하고 database를 실행하고 생성하는 방법    

        Enter password: **** <--- oracle
        mysql> reate database orcl;
        mysql> use orcl;
    
- mySQL 에서 emp 테이블 생성하는 방법

**문제 458. 월급이 3000 이상인 사원들의 이름과 월급을 출력하시오**
~~~
mysql>
select ename, sal
    from emp
    where sal >= 3000;
~~~

**문제 459. 직업이 SALESMAN인 사원들의 이름과 월급과 직업을 출력하는데 월급이 높은 사원부터 출력하시오**
~~~
mysql>
select ename, sal, job
    from emp
    where job ='SALESMAN'
    order by sal desc;
~~~

**문제 460. 이름과 부서위치를 출력하시오**
~~~
mysql>
select e.ename, d.loc
    from emp e, dept d
    where e.deptno = d.deptno;
~~~

**문제 461. JONES 보다 더 많은 월급을 받는 사원들의 이름과 월급을 출력하시오 (서브쿼리문)**

~~~
mysql>
select ename, sal
    from emp
    where sal > ( select sal
                    from emp
                    where ename = 'JONES' );
~~~

**문제 462. 이름, 월급, 순위를 출력하시오 ( 순위는 월급이 높은 순으로 순위를 부여하세요)**
~~~
mysql>
select ename, sal, rank() over(order by sal desc) 순위
    from emp;
~~~

# Oracle과 MySQL 함수 비교

|Oracle|MySQL|
|:--:|:--:|
|nvl|ifnull|
|sysdate|sysdate()|
|months_between|period_add|
|decode|if|
|rollup|with rollup|
|listagg|group_concat|

**문제 463. 이름, 커미션을 출력하는데 커미션이 null인 사람들은 0으로 출력하시오**
~~~
mysql>
select ename, ifnull(comm, 0)
    from emp;
~~~

**문제 464. 오늘 날짜를 출력하시오!**
~~~
mysql>
select sysdate
;
~~~

- MySQL 은 오라클과 다르게 dual이 존재하지 않음

**문제 465. 부서번호, 부서번호별 토탈월급을 출력하시오**
~~~
mysql>
select deptno, sum( sal )
    from emp
    group by deptno;
~~~

**문제 466. 위의 결과를 다시 출력하는데 맨 아래에 전체 토탈 월급이 출력되게 하시오**

~~~
MySQL>
select deptno, sum( sal )
    from emp
    group by deptno with rollup;

Oracle>
select deptno, sum( sal )
    from emp
    group by rollup( deptno );
~~~

**문제 467. < 매우매우 중요함!!> scott의 월급을 0로 변경하시오**
~~~
MySQL>
update emp
set sal = 0
where ename = 'SCOTT';

rollback;
~~~ 
- MySQL은 오라클과는 다르게 기본 자동 커밋이 활성화 되어 있다.
- 자동 commit 되어 버려 rollback을 할 수 없음 => MySQL 사용자들이 많이 하는 실수 중 하나!

**문제 468. 자동 commit이 활성화 되어져 있는지 확인하시오**
~~~
mysql>
select @@autocommit;
~~~

> 숫자 1이면 autocommit이 켜져 있는 것

**문제 469. 자동 커밋 기능을 쓰시오**
~~~
mysql>
set autocommit = FALSE;

select @@autocommit;
~~~
> 숫자가 0이면 자동 커밋 기능이 비활성화 된 것임

**문제 470. KING의 월급을 0로 변경하시오**

~~~
mysql>
update emp
set sal = 0
where ename = 'KING';
~~~
- MySQL 을 켰으면 제일 먼저 확인해야 하는 것이 자동 커밋이 활성화 되었는지 확인하는 게 매우 아주 중요!

**문제 471. 오라클의 listagg 함수와 같은 기능인 group_concat을 이용해서 부서번호, 부서번호별로 속한 사원들의 이름을 가로로 출력하시오**
~~~
mysql>
select deptno, group_concat(ename seperator ',')
    from emp
    group by deptno;
~~~

**문제 472. MySQL과 파이썬을 연동해서 MySQL 의 emp 테이블을 파이썬에서 출력하시오**  
먼저 아나콘다 프롬프트 창을 열고 pymysql을 설치하시오  

    conda install pymysql

In [ ]:
import pymysql,pandas as pd

conn = pymysql.connect(host="localhost", user="root",password="oracle", db="orcl",charset="utf8")

curs = conn.cursor()
sql = "select * from emp"
curs.execute(sql)
rows = curs.fetchall()
colname = curs.description
col = []
for i in colname:
    col.append(i[0].upper())
emp = pd.DataFrame(list(rows),columns=col)
print(emp[['ENAME', 'SAL']] )

**문제 473. 직업, 직업별 토탈월급을 출력하시오**

In [ ]:
import pymysql,pandas as pd

conn = pymysql.connect(host="localhost", user="root",password="oracle", db="orcl",charset="utf8")

curs = conn.cursor()
sql = "select job, sum( sal ) from emp group by job"
curs.execute(sql)
rows = curs.fetchall()
colname = curs.description
col = []
for i in colname:
    col.append(i[0].upper())
emp = pd.DataFrame(list(rows),columns=col)
print(emp[['ENAME', 'SAL']] )

**문제 474. 위의 결과를 막대그래프로 시각화 하시오!**

In [ ]:
import pymysql,pandas as pd

conn = pymysql.connect(host="localhost", user="root",password="oracle", db="orcl",charset="utf8")

curs = conn.cursor()
sql = "select job, sum( sal ) from emp group by job"
curs.execute(sql)
rows = curs.fetchall()
colname = curs.description
col = []
for i in colname:
    col.append(i[0].upper())
emp = pd.DataFrame(list(rows),columns=col)

emp = pd.DataFrame( rows )

emp.index = emp[0]
emp.plot( kind = 'bar' )

#150. 이미지를 숫자로 변환하는 방법 ( 폐사진 )
- 딥러닝 수업을 할 때 이미지를 인공 신경망에 넣어서 학습을 시키는데 인공 신경망에 사진을 넣을 때 숫자로 변환해서 넣어야 함

**문제 475. 오라클과 파이썬을 연동하여 아래의 사원들을 검색하시오**  
이름과 월급과 부서번호와 자기가 속한 부서번호의 평균월급을 출력하는데 자신의 월급이 자기가 속한 부서번호의 평균월급보다 더 큰 사원들만 출력하시오!

In [ ]:

import cx_Oracle
import pandas as pd

dsn = cx_Oracle.makedsn("localhost", 1521, 'xe') # 오라클 주소를 기입 
db = cx_Oracle.connect('scott', 'tiger', dsn)  # 오라클 접속 유저 정보
cursor=db.cursor()  # 결과데이터를 담을 메모리 이름을 cursor로 선언
cursor.execute(""" select * from emp """) # 작성한 쿼리문의 결과가 cursor 메모리에 담긴다.

dsn = cx_Oracle.makedsn("localhost", 1521, "xe")
db = cx_Oracle.connect("scott", "tiger", dsn)
cursor = db.cursor()
cursor.execute(""" select e.ename, e.sal, e.deptno, z.ag
               from emp e, ( select deptno, avg( sal ) as ag
                               from emp
                               group by deptno) z
               where e.deptno = z.deptno and z.ag < e.sal
               """)
               
row = cursor.fetchall()
emp = pd.DataFrame(row)
print( emp )

 
저작자 표시컨텐츠변경비영리