<a href="https://colab.research.google.com/github/unknown-jun/Basic_of_Python/blob/master/23_Dec_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 154. 버블 정렬
> 서로 인접한 두 요소의 크기를 서로 비교하여 순서에 맞지 않는 요소를 인접한 요소와 서로 교환해서 정렬하는 방법

문제 502. 아래의 리스트를 만들고 첫번째 요소와 두번째 요소의 순서를 변경하시오
~~~
a = [ 10, 5, 20, 9, 8 ]

결과 [ 5, 10, 20, 9, 8 ]
~~~

In [ ]:
a = [ 10, 5, 20, 9, 8 ]

temp = a[1]  # 1번째 요소를 temp변수에 임시 저장하고
a[1] = a[0]  # 1번째 요소를 0번째 요소로 변경한 후에
a[0] = temp  # 0번째 요소를 1번째 요소로 변경함

print( a )

[5, 10, 20, 9, 8]

문제 503. 아래의 a 리스트의 첫번째 요소와 두번째 요소의 크기를 비교해서 첫번째 요소의 숫자가 두번째 요소의 숫자보다 크다면 두개를 바꿔라
~~~
a = [ 10, 5, 20, 9, 8 ]
 
결과 [ 5, 10, 20, 9, 8 ]
~~~

In [ ]:
a = [ 10, 5, 20, 9, 8 ]

if a[0] > a[1]:
    temp = a[1]  # 1번째 요소를 temp변수에 임시 저장하고 ( temp = 5 )
    a[1] = a[0]  # 1번째 요소를 0번째 요소로 변경한 후에 ( a[1] = 10 )
    a[0] = temp  # 0번째 요소를 1번째 요소로 변경함     ( a[0] = 5 )

print( a )

[5, 10, 20, 9, 8]

문제 504. 문제 503번 코드에 for loop문을 사용하여 버블 정렬을 하시오

~~~
a = [ 5, 4, 3, 2, 1, 8, 7, 10 ]
결과: [4, 3, 2, 1, 5, 7, 8, 10]
~~~

과정

~~~
[5, 4, 3, 2, 1, 8, 7, 10]

[4, 5, 3, 2, 1, 8, 7, 10]

[4, 3, 5, 2, 1, 8, 7, 10]

[4, 3, 2, 5, 1, 8, 7, 10]

[4, 3, 2, 1, 5, 8, 7, 10]

[4, 3, 2, 1, 5, 7, 8, 10]
~~~

In [ ]:
a = [ 5, 4, 3, 2, 1, 8, 7, 10 ]

for i in range(0, 6):
    if a[i] > a[i+1]:
        temp = a[i+1]  # 1번째 요소를 temp변수에 임시 저장하고 ( temp = 5 )
        a[i+1] = a[i]  # 1번째 요소를 0번째 요소로 변경한 후에 ( a[1] = 10 )
        a[i] = temp  # 0번째 요소를 1번째 요소로 변경함     ( a[0] = 5 )

print(a)

[4, 3, 2, 1, 5, 7, 8, 10]

문제 505. (필수알고리즘3) 위의 코드를 이용해서 버블 정렬을 하는 함수를 아래와 같이 생성하시오

~~~
a = [5, 4, 3, 2, 1, 8, 7, 10]

print( bubble_sort(a) )

결과: [1, 2, 3, 4, 5, 6, 7, 8, 10]
~~~

In [1]:
a = [5, 4, 3, 2, 1, 8, 7, 10]

def bubble_sort( list_ ):
    for j in range(len(list_)-1, 0, -1):
        for i in range(0, j-1):
            if list_[i] > list_[i+1]:
                list_[i], list_[i+1] = list_[i+1], list_[i]
    return list_

print( bubble_sort(a) )

[1, 2, 3, 4, 5, 7, 8, 10]

#155. 필수 알고리즘4 (탐욕알고리즘)
> 매 순간 마다 최선의 선택을 하는 것  

- 선택할 때 마다 가장 좋다고 생각되는 것을 선택해 나가며 최종적인 해답을 구하는 알고리즘

- 이 알고리즘을 설계할 때 주의할 점은 전체를 고려하는 게 아니라 문제를 부분적으로 나누어 나주어진 문제에 대한 최적의 해답을 구하게끔 해야함

- 머신러닝 배울때 의사결정트리를 구현할 때 사용하는 알고리즘

~~~
예> 14원의 잔돈을 줘야 하는데 잔돈의 종류가 10원, 7원, 1원이 있으면 잔돈을 가장 빨리 줄 수 있는 방법은?
답: 7원짜리 2개를 주면 됨
탐욕알고리즘: 10원 1개, 7원 0개, 1원 4개
~~~

문제 506. 14를 10으로 나눈 몫을 출력하시오

In [ ]:
print(14/10)
print( int(14/10) )
print( 14//10 )

1.4
1
1

문제 507. 14를 10으로 나눈 나머지값을 출력하시오

In [ ]:
print(14%10)

0.3999999999999999
4

문제 508. 숫자를 물어보게 하고 숫자를 10으로 나눈 몫과 나머지 값을 출력하게 하시오
~~~
숫자를 입력하세요:   14
몫은: 1
나머지값은: 4
~~~

In [ ]:
num = int(input('숫자를 입력하세요: '))
print(f'몫은: {num//10}')
print(f'나머지 값은: {num%10}')

숫자를 입력하세요: 14
몫은: 1
나머지 값은: 4

문제 509. 아래의 잔돈 리스트를 만들고 잔돈 리스트의 첫번째 요소로 나눈 몫과 나머지값이 출력되게 하시오
~~~
coin = [10, 7, 1]
숫자를 입력하세요: 14
몫은: 1
나머지는 값은 4
~~~

In [ ]:
coin = [10, 7, 1]
money = int(input('숫자를 입력하세요: '))

print(f'몫은: {money//coin[0]}')
print(f'나머지는: {money%coin[0]}')

숫자를 입력하세요: 14
몫은: 1
나머지는: 4

문제 510. 위의 코드를 함수로 만들어서 실행되게 하시오
~~~
greedy()
잔돈을 입력하세요:  14
몫: 1
나머지: 4
~~~

In [ ]:
coin = [10, 7, 1]
def greedy():
    money = int(input('잔돈을 입력하세요: '))

    print(f'몫은: {money//coin[0]}')
    print(f'나머지는: {money%coin[0]}')

greedy()

잔돈을 입력하세요: 14
몫은: 1
나머지는: 4

문제 511. (필수 알고리즘 4) 탐욕 알고리즘을 파이썬으로 구현하시오
~~~
greedy()
잔돈을 입력하세요:    14
10원 동전 1개, 7원 동전 0개, 1원 동전 4개를 줍니다
~~~

~~~
greedy()
잔돈을 입력하세요:    107
10원 동전 10개, 7원 동전 1개, 1원 동전 0개를 줍니다.
~~~

In [ ]:
import numpy as np

coin = [10, 7, 1]
def greedy():
    money = int(input('잔돈을 입력하세요: '))
    cnt_10 = 0
    cnt_7 = 0
    cnt_1 = 0
    for i in range(2):
        if money > coin[i]:
            cnt_10 = money//coin[i]
            money -= coin[i] * cnt_10
        elif money > coin[i]:
            cnt_7 = money//coin[i]
            money -= coin[i] * cnt_7
        else:
            cnt_1 = money//coin[i]
            money -= coin[i] * cnt_1

    print('10원동전 ' + str(cnt_10) + ' 7원동전 ' + str(cnt_7) + ' 1원동전 ' + str(cnt_1))

greedy()

잔돈을 입력하세요: 14
10원동전 1 7원동전 0 1원동전 0

#156. 재귀 알고리즘
> 반복문 + 스택구조가 결합된 함수
- 스택구조( 후입선출: 나중에 들어간 것이 먼저 나오는 구조)


- 재귀함수의 특징
> 재귀 함수는 함수 내에서 다시 자기 자신을 호출한 후 그 함수가 끝날 때까지 함수 호출 이후의 명령문을 수행하지 않음

- 함수 내에서 다른 함수를 호출하는 예제

In [ ]:
# 함수 내에서 다른 함수를 호출하는 예제
def hap(a, b):
    return (a + b)

def gob(a, b):
    return (a * b)

def hap_gob(a, b):
    k = hap(a, b)  #  함수내에서 다른 함수를 호출하고 있음
    m = gob(a, b)
    return k + m

print( hap_gob(2,3) )

11

숫자를 입력하면 1부터 해당 숫자까지의 합을 출력하는 함수를 생성하시오
~~~
print( add_func(5) )
결과: 15
~~~

In [ ]:
def add_func( num ):

    cnt = 0
    for i in range(0, num+1):
        cnt = cnt + i
    return cnt

print( add_func(5) )

15

예제 5. add_func 함수를 재귀함수로 구현하시오  
(재귀함수를 사용하면 loop문을 사용하지 않아도 됨)

In [ ]:
def add_func(n):

    if n == 0:
        return 0
    else:
        return n + add_func(n-1)

print( add_func(5) )
       # 5 + add_func(4)
               # 4  + add_func(3)
                         # 3   + add_func(2)
                                   # 2   + add_func(1)
                                             # 1   +  add_func(0)
                                                         #   0

15

문제 512. factorial 함수를 만드시오
~~~
print( factorial(5) )
결과: 120
~~~

In [ ]:
def factorial(num):

    if num == 1:
        return 1
    else:
        return num * factorial(num-1)
        
print(factorial(5))

120

문제 513. 위의 factorial 함수를 재귀를 이용하지 않고 for loop문으로 구현하시오

In [ ]:
def factorial(num):
    cnt=1
    for i in range(1, num+1):
        cnt = cnt * i
    return cnt

print(factorial(5))

120

재귀 알고리즘의 장점
> 1. loop문을 복잡하게 이용하지 않아도 됨  
2. 코드가 더 간결해짐

문제 514. 오라클의 power 함수를 파이썬으로 구현하시오!
~~~
SQL> 
select power(2, 3) from dual;   # 8
~~~

~~~
print( power(2, 3) )
~~~

In [ ]:
def power(num1, num2):
    cnt = 1
    for i in range(num2):
        cnt = cnt * num1
    return cnt
print( power(2, 3) )

8

문제 515. 위의 power 함수를 loop문을 쓰지 말고 재귀함수로 구현하시오

In [ ]:
def power( x, n ):

    if n == 0:
        return 1         #  재귀를 먼저 종료시킬 구문을 생각하고
         
    else:                #  명령어를 작성한다
        return x * power( x,n-1 )
    
print( power(2, 3) )
         # 2  * power(2, 2)
                #  2  * power(2, 1)
                       #   2  * power(2, 0)

8

문제 516. 구구단 2단을 아래와 같이 출력하는 함수를 생성하시오  
(for loop문을 사용해서 만드시오)
~~~
print( multi_table_2dan(9)

2 x 1 = 2
2 x 2 = 4
   :
2 x 9 = 18
~~~

In [ ]:
def multi_table_2dan( n ):

    for i in range(1, n+1):
        print( f'2 x {i} = {2*i}' )

multi_table_2dan(9)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

문제 517. 두 숫자를 각각 입력해서 함수를 실행하면 두 숫자의 최대공약수가 출력하는 함수를 생성하시오  
( 재귀함수 사용하지 않고 loop문을 이용해서 하시오 )

~~~
print( gcd(16, 24) )
결과 8
~~~

In [ ]:
def gcd(n1, n2):

    for i in range( min(n1, n2), 0, -1 ):
        if n1 % i == 0 and n2 % i == 0:
            return i

print( gcd(16, 24) )

8

문제 518. (필수알고리즘 5번) 두 숫자를 각각 입력해서 함수를 실행하면 두 숫자의 최대공약수가 출력하는 함수를 생성하시오  
(재귀함수로 구현하시오)

~~~
print( gcd(16, 24) )
결과 8
~~~

In [ ]:
def gcd(n1,n2): 

    if n2 == 0:
        return n1  
    else:
        return gcd(n2, n1%n2)
    
print(gcd(16,24))

문제 519. 함수를 만들 때 아래와 같이 입력 매개변수에 기본값을 지정해서 만들 수 있다. 다음과 같이 수행하시오  
~~~
def bubble_a( x, k = 1 ):
    return x + k

print( bubble_a( 3 ) )
~~~

In [ ]:
def bubble_a( x, k = 1 ):
    return x + k
 
print( bubble_a( 3 ) )

4

#157. LRU 알고리즘 (Least Recent Used)
> 메모리 관리를 효율적으로 하기 위해 고안된 대표적인 알고리즘으로  
최신 데이터를 메모리에 유지시키고  
오래된 데이터는 메모리에서 내보내게 하는 알고리즘

- 메모리에서 정보를 조회하는 것을 cache hit
- 메모리에 없어서 디스크에서 조회하는 것을 cache miss

- cache hit >>>>> cache miss
- 한번 디스크에서 읽은 데이터를 메모리에 올려놓고 메모리에서 빠르게 데이터를 조회할 수 있도록 LRU 알고리즘을 구현해서 만든 소프트웨어
- 메모리 공간이 한정된 공간이다 보니 무한히 데이터를 올릴 수 없어 오래된 데이터는 메모리에서 빠져나가게 되고 최신 데이터가 그 빠져나간 자리에 올라감
- 최근에 내가 검색한 데이터는 다시 검색할 확률이 높은 데이터 이므로 메모리에 오래 두도록 하고 예전에 검색한 데이터는 메모리에서 빠져나가게 함

문제 519. 구구단 2단을 재귀함수로 출력하시오 !
~~~
print( multi_table_2(9) )

2 x 1 = 2
2 x 2 = 4
    :
2 x 9 = 18
~~~

In [ ]:
def multi_table_2(n):

₩₩

print( multi_table_2(9) )

None
None
None
None
None
None
None
None
None
None