<a href="https://colab.research.google.com/github/unknown-jun/Basic_of_Python/blob/master/30_Nov_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 지난주에 대한 복습

- 파이썬 기본 자료형 5가지
    1. 문자형  : a = 'SCOTT'
    2. 숫자형  : cnt = 0
    3. 리스트형: a = [1,2,3]
    4. 튜플    : b = (1,2,3)
    5. 딕셔너리: c = {'apple': '사과', 'peach':'눈'}

- 파이썬 연산자: >, <, <=, >=, ==, !=

- if문: 
```
if 조건:
     실행문
```
- for loop문 와 while loop문

 프로그램을 실행하다 보면 반복적으로 특정 실행문을 실행해야 할때
```
for i in range(1, 11):
    print('a')                    i = 1 일때  print('a')
                                  i = 2 일때  print('a')
                                            :
                                  i = 10일때 print('b')
while 조건:
    실행문
```
- 판다스 사용법: 판다스는 엑셀과 같은 데이터를 검색할 때 주로 사용
```
                   연동가능
Oracle databas -------------파이썬 판다스
검색 위주                    검색
                               데이터 시각화
                               통계를 쉽게 구현
                               머신러닝을 쉽게 구현  
                                                                            -
"현업에서 주로 두개를 연동해서 분석을 많이 함"
```

**"파이썬은 괄호 대신에 들여쓰기로 블럭(실행영역)을 구분한다"**

```
예) for i in range(1, 11):
        print('a')   # for loop 문의 관할하에 있는 실행영역
    print('b')       # for loop 문의 관할하에 실행영역이 아님
                     # for loop 문이 다 끝나고 나면 작동되는 문장
```

**SQL과 파이썬의 차이점**
```
1. SQL은 비절차적 언어:

3   select ename, sal
1      from emp
2      where ename = 'SCOTT'

2. 파이썬은 절차적 언어: 코드의 흐름대로 절차적으로 실행

for i in range(1, 11):
    print('a')           # 제일 먼저 첫번째 for문을 실행하고

print('b')               # 그 다음 print 함수를 수행한다음

for k in range(1, 101):
    print('c')           # 마지막으로 맨 마지막 for문을 실행한다,
                         # 이처럼 순차적으로 하나씩 실행하는 절차적 언어이다.
                         (                    )
```

In [ ]:
from google.colab import files
myfile = files.upload()

Saving emp3.csv to emp3.csv

**문제 86. 이름이 SCOTT인 사원의 이름과 월급을 출력하시오**

In [ ]:
import pandas as pd
emp = pd.read_csv("emp3.csv")

print(emp[ ['ename', 'sal'] ] [ emp['ename']=='SCOTT'])
    # emp[ 컬럼리스트 ]       [   조건   ]

    ename   sal
11  SCOTT  3000

```
select ename, sal
    from emp
    where ename = 'SCOTT';
```

# 26. 시퀀스 자료형 이해하기
"시퀀스 자료형은 어떤 객체가 순서를 가지고 나열되어 있는 것을 말함"  
"예를들어 문자형'abcd'는 문자 a,b,c,d가 순서를 가지고 차례대로 나열되어 있는 것입니다"

```
예:
a = 'scott' <- 객체
print(a)    # scott 출력
```

```
위의 scott이라는 문자를 담은 a 변수에서 첫번째 요소만 출력하고 싶다면   
  
s c o t t  
0 1 2 3 4   
print( a[0] )   # s
print( a[1] )   # c
```

**문제 87. 위의 scott을 담은 문자형 변수 a 에서 알파벳 o를 출력하시오**

In [ ]:
a = 'scott'
print( a[2] )

o

In [ ]:
print ('a')

a

**설명: 문자형 변수에서 특정 철자만 가져오고 싶으면 문자형 변수 옆에 대괄호를 쓰고 순서에 해당하는 순자를 적어주면 됨**

**문제 88. 아래의 문자형 변수에서 맨 끝의 철자인 h를 출력하시오!**<br/>
b='smith'

In [ ]:
b = 'smith'        #  s  m  i  t  h
print( b[4] )      #  0  1  2  3  4
print( b[-1] )     # -5 -4 -3 -2 -1

h
h

**문제 89. 판다스를 이용해서 emp3.csv에서 이름을 출력하는데 이름의 첫번째 철자만 출력하시요**

In [ ]:
import pandas as pd

emp=pd.read_csv("emp3.csv")
print( emp['ename'][0],'\n' )

for i in emp['ename']: # emp3.csv에서 ename만 가져와서 
    print(i[0])        # ename의 갯수만큼 loop문을 수행해서 ename을 출력

KING

K
B
C
J
M
A
T
J
W
F
S
S
A
M

SQL>
```
select substr(ename, 1, 1)
    from emp
```

In [ ]:
emp=pd.read_csv("emp3.csv")
print(type(emp['ename']), '\n')

# type 명령어는 변수가 문자형, 숫자형, 리스트형, 딕셔너리형, 튜플형인지 확인하는 함수
# <class 'pandas.core.series.Series'>  => 오라클로 치면 컬럼

for i in emp['ename']:  
    print(type(i))     # string이여지만이 slicing이 가능

# 판다스의 <class 'pandas.core.series.Series'>를 문자형으로 변경하려면 for loop문을 이용해서 하나씩 가져오면 됨

a = 'scott'
print( type(a),'\n')    # <class'str'>
print(a[0])

# <class 'str'> 문자형으로 변경해줘야 문자형에서 특정요소를 가져오는 문법을 사용할 수 있음

<class 'pandas.core.series.Series'>

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
s

**문제 90. 판다스를 이용해서 emp3.csv를 가져와서 이름의 끝글자를 출력하시오**

In [ ]:
emp=pd.read_csv("emp3.csv")

for i in emp['ename']:
    print(i[-1])

G
E
K
S
N
N
R
S
D
D
H
T
S
R

**문제 91. 위의 결과에서 앞에 이름도 같이 출력하시오**

In [ ]:
emp=pd.read_csv("emp3.csv")

for i in emp['ename']:
    print(i,'     ', i[-1])

KING       G
BLAKE       E
CLARK       K
JONES       S
MARTIN       N
ALLEN       N
TURNER       R
JAMES       S
WARD       D
FORD       D
SMITH       H
SCOTT       T
ADAMS       S
MILLER       R

**문제 92. 이름의 첫번째 철자가 s로 시작하는 사원들의 이름을 출력하시오**

In [ ]:
emp=pd.read_csv("emp3.csv")

for i in emp['ename']:
    if i[0] == 'S':
        print(i)

SMITH
SCOTT

SQL>
```
select ename
    from emp
    where ename like 'S%';
```

**문제 93. 이름의 끝글자가 T로 끝나는 사원들의 이름을 출력하시오**

In [ ]:
emp = pd.read_csv("emp3.csv")

for i in emp['ename']:
    if i[-1] == 'T':
        print(i)

SCOTT

```
> SQL
 select ename
    from emp
    where ename like '%T';
```

#27. 시퀀스 자료 인덱싱 이해하기

- 인덱싱(indexing)이란 시퀀스 자료형에서 인덱스를 통해 해당하는 값을 얻는 방법
-  파이썬에서는 인덱스를 0부터 시작하며 음수인 인덱스도 사용가능  
     음수 인덱스는 '끝에서 몇 번째' 라는 의미를 가짐

In [ ]:
# 예
a = 'SALESMAN'
print( a[2] )  # L이 출력됨

L

**문제 94. 이름의 두 번째 철자가 M인 사원의 이름을 출력하시오**

In [ ]:
import pandas as pd

emp = pd.read_csv("emp3.csv")

for i in emp['ename']:
    if i[1] == 'M':
        print(i)

SMITH

```
> SQL

select ename
    from emp
    where substr(ename, 2) = 'M%';
```

#28. 시퀀스 자료 슬라이싱 이해하기

- 인덱싱은 인덱스에 요소 하나를 취하는 방법이지만
- 슬라이싱은 시퀀스 자료에서 일정 범위에 해당하는 부분을 취하는 방법

In [ ]:
# 예
a = 'scott'     # s  c  o  t  t
print(a[1:3])   # 0  1  2  3  4

# 1번째 자리부터 3미만의 자리까지 요소들을 출력

co

**문제 95. 아래의 SQL을 판다스로 구현하시오**

```
> SQL
select substr(ename, 1, 3)
    from emp;
```

In [ ]:
import pandas as pd

emp = pd.read_csv("emp3.csv")

for i in emp['ename']:
    print(i[0:3])

KIN
BLA
CLA
JON
MAR
ALL
TUR
JAM
WAR
FOR
SMI
SCO
ADA
MIL

**문제 96. 아래의 SQL을 판다스로 구현하시오**
```
> SQL
select substr(ename, -2, 2)
    from emp;
```

In [ ]:
import pandas as pd

emp = pd.read_csv("emp3.csv")

for i in emp['ename']:  #  K  I  N  G
    print(i[-2:])       #       -2 -1
#콜론(:) 다음에 아무것도 안넣으면 그냥 끝까지 읽는다

NG
KE
RK
ES
IN
EN
ER
ES
RD
RD
TH
TT
MS
ER

**문제97. 아래의 SQL을 판다스로 구현하시오
```
> SQL
select substr( ename, 2, 3)
    from emp;
```

In [ ]:
import pandas as pd

emp = pd.read_csv("emp3.csv")

for i in emp['ename']:
    print( i[1:4])

ING
LAK
LAR
ONE
ART
LLE
URN
AME
ARD
ORD
MIT
COT
DAM
ILL

# 29. 시퀀스 자료 연결 이해하기(+)

- 자료형이 동일한 두개의 시퀀스 자료는 + 연산자로 순서있게 연결하여 새로운 시퀀스 자료를 만들수 있음.

- 문자열 + 문자열, 리스트 + 리스트, 튜플 + 튜플과 같이 구개의 동일한 시퀀스 자료형에 대해 '+'연산자로 연결이 가능함

In [ ]:
# 예제
a = ' I love '
b = 'Python'
print(a + b)

 I love Python

**문제 98. 아래의 두개의 리스트를 연결하여 출력하시오**  
a = [2,3,4,5]  
b = [9,2,4,8]

In [ ]:
a = [2,3,4,5]
b = [9,2,4,8]
print(a + b)

[2, 3, 4, 5, 9, 2, 4, 8]

**문제 99. 아래의 SQL을 판다스로 구현하시오**
```
> SQL
select ename||sal
    from emp;
```

In [ ]:
import pandas as pd

emp = pd.read_csv('emp3.csv')

for i , k in zip( emp['ename'], emp['sal']): # zip함수를 for loop문에 사용하게 되면 두개의 범위 데이터를 한번에 받아서 loop를 수행할 수 있음
    print( i + str(k) )                      # ename이 i로, sal이 k로 들어감
    
    # 문자형 + 숫자형은 연결이 되지 않으므로 
    # 숫자형을 문자형으로 변환해주기 위해서 str 함수를 사용

KING5000
BLAKE2850
CLARK2450
JONES2975
MARTIN1250
ALLEN1600
TURNER1500
JAMES950
WARD1250
FORD3000
SMITH800
SCOTT3000
ADAMS1100
MILLER1300

In [ ]:
# 사실 이렇게도 가능 (하지만 위의 항목처럼 두개의 값이 아예 붙어서 나오진 않음)
import pandas as pd

emp = pd.read_csv('emp3.csv')

for i , k in zip( emp['ename'], emp['sal']):
    print( i, k )

KING 5000
BLAKE 2850
CLARK 2450
JONES 2975
MARTIN 1250
ALLEN 1600
TURNER 1500
JAMES 950
WARD 1250
FORD 3000
SMITH 800
SCOTT 3000
ADAMS 1100
MILLER 1300

# 30. 시퀀스 자료 반복 이해하기(*)
**" 동일한 시퀀스 자료를 반복하여 새로운 시퀀스 자료로 만들고자 한다면 별표(*)을 연산자로 사용함 "**

In [ ]:
# 예제

print('a' * 7) # 소문자 알파벳 a를 7번 출력함

print( [1,2,3] * 5 )

aaaaaaa
[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

**문제 100. 주사위의 눈 6개를 100개 담은 리스트 dice100을 만드시오**

In [ ]:
dice = [1,2,3,4,5,6]
dice100 = []
dice100.append(dice * 100)
print(dice100)
# 이거나
dice100 = [1,2,3,4,5,6] * 100
print(dice100)

[[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]]
[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

**문제 101. 초등학생 키가 10개가 들어있는 아래의 tall 리스트의 요소 10개를 10000개로 증가시켜서 tall10000 리스트에 담고 출력하시오**

In [ ]:
tall = [129.3, 130.2, 132.5, 134.7, 136.3, 137.8, 138.1, 140.2, 142.3, 145.2 ]
tall10000 = tall *1000
print(tall10000)

**문제 102. 위의 모집단의 평균, 분산, 표준편차 값을 출력하시오**

In [ ]:
import numpy as np

tall = [129.3, 130.2, 132.5, 134.7, 136.3, 137.8, 138.1, 140.2, 142.3, 145.2 ]
tall10000 = tall *1000
print(type(tall10000))

print(np.mean(tall10000)) # np.mean, var, std (리스트)를 사용하면 평균값이 출력
print(np.var(tall10000))
print(np.std(tall10000))

<class 'list'>
136.66
23.78239999999999
4.876720209321014

**문제 103. 위의 모집단 tall10000에서 표본을 20개를 랜덤으로 추출하시오**

In [ ]:
import random as rd
import numpy as np

tall = [129.3, 130.2, 132.5, 134.7, 136.3, 137.8, 138.1, 140.2, 142.3, 145.2 ]
tall10000 = tall *1000     # 초등학생 키 데이터 10000개 생성 (모집단 생성)
random_tall = []

for i in range (1, 21):   # 20번 loop 돌면서
    print( rd.choice(tall10000) ) # 모집단에서 랜덤으로 20명의 키를 한명씩 추출

138.1
145.2
130.2
129.3
140.2
137.8
134.7
134.7
132.5
134.7
140.2
138.1
129.3
130.2
138.1
138.1
132.5
142.3
145.2
130.2

**문제 104. 위의 랜덤으로 추출한 표본 20개를 비어있는 a 리스트에 담으시오**

In [ ]:
import random as rd
import numpy as np

tall = [129.3, 130.2, 132.5, 134.7, 136.3, 137.8, 138.1, 140.2, 142.3, 145.2 ]
tall10000 = tall *1000     # 초등학생 키 데이터 10000개 생성 (모집단 생성)
a = []  # 표본을 담기 위해 a라는 비어있는 리스트를 만듬

for i in range (1, 21):   # 20번 loop 돌면서
    random = rd.choice(tall10000) # 모집단에서 랜덤으로 20명의 키를 한명씩 추출
    a.append(random)    # 모집단에서 랜덤으로 키 하나를 추출해서 a 리스트에 담는다.

print(a)

[132.5, 136.3, 138.1, 140.2, 137.8, 138.1, 129.3, 136.3, 134.7, 134.7, 132.5, 129.3, 140.2, 142.3, 138.1, 138.1, 134.7, 132.5, 137.8, 137.8]

**문제 105. 위의 표본이 평균값을 출력하시오**

In [ ]:
import random as rd
import numpy as np

tall = [129.3, 130.2, 132.5, 134.7, 136.3, 137.8, 138.1, 140.2, 142.3, 145.2 ]
tall10000 = tall *1000     # 초등학생 키 데이터 10000개 생성 (모집단 생성)
a = []  # 표본을 담기 위해 a라는 비어있는 리스트를 만듬

for i in range (1, 21):   # 20번 loop 돌면서
    random = rd.choice(tall10000) # 모집단에서 랜덤으로 20명의 키를 한명씩 추출
    a.append(random)    # 모집단에서 랜덤으로 키 하나를 추출해서 a 리스트에 담는다.

print(np.mean(a))

137.37

#31. 시퀀스자료 크기 이해하기 (len)
- 모든 시퀀스 자료는 고정된 길이 또는 크기를 가지고 있음
- 시퀀스 자료의 크기는 시퀀스 자료를 구성하는 요수의 갯수

In [ ]:
# 예
a = 'scott'
print(len(a))

b= [ 2, 3, 4, 8, 1 ]
print( len(b) ) # 리스트의 요소의 갯수가 출력됨

5
5

**문제 106. 아래의 SQL을 판다스로 구현하시오**

```
> SQL
select ename, length(ename)
    from emp;
```

In [ ]:
import pandas as pd

emp = pd.read_csv('emp3.csv')

for i in emp['ename']:
    print( i, len(i))

KING 4
BLAKE 5
CLARK 5
JONES 5
MARTIN 6
ALLEN 5
TURNER 6
JAMES 5
WARD 4
FORD 4
SMITH 5
SCOTT 5
ADAMS 5
MILLER 6

#32. 멤버체크 이해하기 (in)
- in은 자료에 어떤 값이 있는지 없는지 확일 할 때 사용하는 키워드
  
> 예: 값 in 자료  
설명: 값이 자료에 있으면 True이고 없으면 False가 됨

In [ ]:
# 예
listdata = [1,2,3,4]

a = 5 in listdata
b = 4 in listdata

print(a)
print(b)

False
True

**문제 107. 모평균이 30이고 모표준편차가 7인 모집단을 구성하시오**

In [ ]:
import numpy as np

avg = 30
std = 7
N = 1000000

population = np.random.randn(N) * std + avg # np.random.radn(숫자)를 쓰면 이 숫자만큼 가우시안 정규분포에 따르는 난수들이 숫자만큼 생성된다.
print(population)
print(len(population))

[19.90183414 34.72180586 46.45712534 ... 20.31463091 36.52043683
 40.19106077]
1000000

**문제 108. 위의 모집단의 모평균을 출력하시오!**

In [ ]:
import numpy as np

avg = 30
std = 7
N = 1000000

population = np.random.randn(N) * std + avg
print( np.mean( population ))

29.990301244855303

**문제 109. 아래의 SQL을 판다스로 구현하시오**
```
> SQL
select ename, job
    from emp
    where job in ('SALESMAN', 'ANALYST' )
```

In [ ]:
import pandas as pd

emp = pd.read_csv("emp3.csv")

emp[ ['ename', 'job'] ][ emp['job'].isin( ['SALESMAN', 'ANALYST'] ) ]

     ename       job
4   MARTIN  SALESMAN
5    ALLEN  SALESMAN
6   TURNER  SALESMAN
8     WARD  SALESMAN
9     FORD   ANALYST
11   SCOTT   ANALYST

**문제 110. 아래의 SQL을 판다스로 구현하시오**
```
> SQL
select ename, job
    from emp
    where job not in ('SALESMAN', 'ANALYST');
```

In [ ]:
import pandas as pd

emp = pd.read_csv("emp3.csv")

emp[ ['ename', 'job'] ][ ~ emp['job'].isin( ['SALESMAN', 'ANALYST'] ) ]

     ename        job
0     KING  PRESIDENT
1    BLAKE    MANAGER
2    CLARK    MANAGER
3    JONES    MANAGER
7    JAMES      CLERK
10   SMITH      CLERK
12   ADAMS      CLERK
13  MILLER      CLERK

#34. 문자열 이해하기

- 문자열은 문자나 기호 순서로 나열되어있는 시퀀스 자료
- 문자열을 선언하는 3가지 방법

```
1.'문자열' <---- 싱글 쿼테이션 마크
2. "문자열 <---- 더블 쿼테이션 마크
3."""문자열"""<--더블 쿼테이션 마크를 3개
```

In [ ]:
a = "My son's name is john"
print(a)

My son's name is john

- 문자에 아래와 같이 더블 쿼테이션 마크가 있다면 위의 세번째인 """ """ 더블 3개를 사용하면 되

In [ ]:
b = """ My son's name is "jone" """
print(b)

 My son's name is "jone"

**문제 111. 아래와 같은 글씨가 출력되게 하시오**  
"모집단"의 모평균은  
"모집단"의 모분산은  
모집단"의 모표준편차는

In [ ]:
print('"모집단"의 모평균은')
print('"모집단"의 모분산은')
print('"모집단"의 모표준편차는')

"모집단"의 모평균은
"모집단"의 모분산은
"모집단"의 모표준편차는

**문제 112. 모평균이 30이고 모표준편차가 7인 모집단 1000000개의 모평균과 모분산과 모표준편차를 아래와 같이 출력하시오**
```
"모집단"의 모평균은 136.66
"모집단"의 모분산은 23.78239999999999
"모집단"의 모표준편차는 4.876720209321014
```

In [ ]:
import numpy as np

avg = 30
std = 7
N = 1000000

population = np.random.randn(N) * std + avg

print(""" "모집단"의 모평균은""", np.mean(population)) # np.mean, var, std (리스트)를 사용하면 평균값이 출력
print(""" "모집단"의 모분산은""", np.var(population))
print(""" "모집단"의 모표준편차은""", np.std(population))

 "모집단"의 모평균은 29.999876691316935
 "모집단"의 모분산은 49.05697795314472
 "모집단"의 모표준편차은 7.004068671361291

**문제 113. 모평균이 30이고 모표준편차가 7인 모집단(1000000개)에서 표본을 49개를 뽑으시오**

In [ ]:
import numpy as np

avg = 30
std = 7
N = 1000000

population = np.random.randn(N) * std + avg
print( np.random.choice(population, 49) )

[30.37463024 24.83518981 26.45392737 23.55149717 40.569369   30.09036936
 34.55056836 30.14414833 30.61102982 29.75663233 28.87617075 26.66524455
 31.1783833  22.24440901 25.77666201 43.60948122 26.08489526 32.65522766
 33.47888552 27.54477544 44.06597771 25.53857361 32.56823435 38.60690578
 26.38407065 19.58472985 44.14444091 26.47658356 31.78955272 32.13926646
 33.12188714 33.07114857 35.28255195 22.38185227 33.45099552 30.34897524
 28.22721072 27.03830269 21.98547106 34.87384545 35.41512326 19.89344597
 49.09093763 36.06052767 33.94188906 21.52563507 37.82315149 23.66734964
 22.93510469]

**문제 114. 위에서 뽑은 49개의 평균값을 출력하시오**

In [ ]:
import numpy as np

avg = 30
std = 7
N = 1000000

population = np.random.randn(N) * std + avg
sample = np.random.choice(population, 49)
print(np.mean(sample))
print( np.random.choice(population, 49).mean() )
# numpy의 random 안의 choice 함수를 이용해서 population에서 49개를 표본 샘플링하고 그 표본의 평균값을 출력한다.

30.215272162139662
31.297403301498044

**문제 115. 위에서 출력한 표본이 평균값을 하나가 아니라 100개가 출력되게 하시오**

In [ ]:
import numpy as np

avg = 30
std = 7
N = 1000000

population = np.random.randn(N) * std + avg

for i in range(1, 101):
    print( np.random.choice(population, 49).mean() )

**문제 116. 이번에는 100개를 출력하지 말고 비어있는 리스트a를 선언하고 a에 100개를 담으시오**

In [ ]:
import numpy as np

avg = 30
std = 7
N = 1000000

population = np.random.randn(N) * std + avg
list_a = []

for i in range(1, 101):
    list_a.append( np.random.choice(population, 49).mean() )

print(list_a)

[27.78029970223015, 29.99497846043443, 28.26784226160535, 29.970746964969837, 30.575840791313336, 27.821910555078393, 28.61509264637336, 30.65497812374477, 30.82188210103479, 30.076495885617113, 31.23184078411532, 30.99567078569607, 29.915529545096025, 30.367689122007793, 31.342258003436264, 30.050502161566712, 30.925794600727016, 29.956907479129725, 29.121230926356176, 28.951691588937663, 29.667399764790936, 29.684835380615095, 30.848653816021688, 28.737901525532575, 30.83945137931779, 28.369068449809625, 29.035425009949165, 29.395899867887707, 31.334777268540737, 31.40118219650997, 31.062090122067353, 29.83578504924565, 30.314203567688388, 31.510500955737427, 28.911196285020974, 29.519171369895318, 30.559089572587272, 30.72102121052838, 29.067809007149986, 28.556732051019704, 30.465025908180525, 29.965985096178628, 29.116864122941234, 29.09304338124177, 29.84487048832792, 30.5973197133429, 30.47633517487417, 28.834355335322936, 31.87568566629955, 28.966296716637178, 28.788976211268963, 29.99766386640339, 30.28286906945248, 30.498658557910133, 29.244552748023235, 31.669315754923936, 30.64287795584393, 30.764145444836014, 29.845868007124057, 28.550475360138105, 31.92309690470994, 31.06431762055052, 28.88377250872339, 29.01988372003769, 30.0430246916004, 30.1227585600706, 31.027526018917612, 28.95932690619255, 30.298167175720938, 32.37016697393236, 29.057712357633864, 31.75421896460004, 29.5821114352053, 30.183563507077046, 30.165578995476377, 32.098262207008865, 27.04195191320014, 30.855188423022003, 29.874321950372966, 27.93666312280208, 31.12298845420587, 30.821123310965262, 30.19354723262627, 30.621648598026997, 32.28363136465229, 30.615026931623017, 30.352992438323884, 30.717271293465775, 30.074322514322088, 29.778233090898205, 30.676670672620887, 28.86962310259974, 30.34364511972898, 29.836018217467082, 30.527934616043282, 30.39062710372015, 28.981024553157944, 30.014942151363787, 27.509832818741824, 28.383502422676752]

**문제 117. 위에서 구한 표본평균의 평균값과 표준편차를 아래와 같이 출력하시오**
```
"표본평균" 의 평균값은 ***
"표본평균" 의 표준편차는 ***
```

In [ ]:
import numpy as np

avg = 30
std = 7
N = 1000000

population = np.random.randn(N) * std + avg
list_a = []

for i in range(1, 101):
    list_a.append( np.random.choice(population, 49).mean() )

print(""" "표본평균" 의 평균값은 """, np.mean(list_a) )
print(""" "표본평균" 의 표준편차는 """, np.std(list_a) ) # n-1로 나누어줘야하긴 함(함수를 배우기 위해 자유도는 무시한다)
                                                         # 맨 마지막 문제로 풀기로 함

 "표본평균" 의 평균값은  30.040386241794486
 "표본평균" 의 표준편차는  0.9531921739392857

#34. 문자열 포멧팅 이해하기
- 문자열 포멧팅이란 변하는 값을 포함하는 문자열을 표현하기 위해 하나의 양식으로 문자열을 만드는 것
- 문자열 포멧팅에서는 변하는 값을 나타내기 위해 사용하는 기호를 '포멧 문자열'이라고 하며, 자주 사용하는 포멧 문자열은 다음과 같음

|포멧 문자열| |설명|
|:----:|----|:----:|
|%s||문자열에 대응됨|
|%c||문자나 기호 한개에 대응됨|
|%f||실수에 대응됨|
|%d||정수에 대응됨|
|%%||%라는 기호 자체를 표시함|

In [ ]:
# 예제
txt1 = '자바'
txt2 = '파이썬'
num1 = 5
num2 = 10
print('나는 %s보다 %s에 더 익숙합니다' %(txt1,txt2))
print('나는 ', txt1, '보다 ', txt2,'에 더 익숙합니다')

나는 자바보다 파이썬에 더 익숙합니다
나는  자바 보다  파이썬 에 더 익숙합니다

**문제 118. 아래의 변수를 이용해서 아래와 같이 결과가 출력되게 하시오**
```
num1 = 5
num2 = 10

결과: 5는 10보다 작습니다.
```

In [ ]:
num1 = 5
num2 = 10

print('%d는 %d보다 작습니다' %(num1, num2))

5는 10보다 작습니다

**문제 119. 문제 117번의 결고가 아래와 같이 출력되게 하시오(문자열 포멧을 이용하세요)**

```
표본평균의 평균값은 **.***이고 분산값은 **.***이고 표준편차는 *.***입니다.
```

In [ ]:
import numpy as np

avg = 30
std = 7
N = 1000000

population = np.random.randn(N) * std + avg
list_a = []

for i in range(1, 101):
    list_a.append( np.random.choice(population, 49).mean() )

Mean = np.mean(list_a)
Var = np.var(list_a)
Std = np.std(list_a)

print("표본평균 의 평균값은 %f이고 분산값은 %f이고 표준편차는 %f입니다." %(Mean,Var,Std))

표본평균 의 평균값은 29.888862이고 분산값은 0.910215이고 표준편차는 0.954052입니다.

**문제 120. 위의 결과가 아래와 같이 소수점 두번째 자리까지만 나오게 하시오**

In [ ]:
import numpy as np

avg = 30
std = 7
N = 1000000

population = np.random.randn(N) * std + avg
list_a = []

for i in range(1, 101):
    list_a.append( np.random.choice(population, 49).mean() )

Mean = round( np.mean(list_a), 2)
Var = round( np.var(list_a), 2)
Std = round( np.std(list_a), 2)

print("표본평균 의 평균값은 %.2f이고 분산값은 %.2f이고 표준편차는 %.2f입니다." %(Mean,Var,Std))

표본평균 의 평균값은 30.01이고 분산값은 1.29이고 표준편차는 1.14입니다.

**문제 121. (통계를 코드로 구현 4번) 어느 비행기 탑승객의 짐의 무게는 평균이 18kg이고 표준편차가 3kg인 정규분포를 따른다고 한다. 이 비행기 탑승객 중에서 36명을 임의추출할 때, 짐의 평균 무게가 17kg 이상일 확률을 구하여라**

In [ ]:
import numpy as np

avg = 18  # 짐의 무게의 평균
std = 3   # 짐의 무게의 표준편차
n = 36    # 표본의 수

distribution = np.random.randn(n) *std + avg # 가우시안 정규분포를 따르는 난수를 생성
count= 0  # 평균무게가 17kg를 넘는 확률을 구하기 위한 초기변수 선엉

for i in range(1, 37):  # for loop를 통해 
    sample = np.random.choice(distribution) # 36명의 표본을 임의 추출
    if sample >= 17:    # 만약 17kg이 넘는다면
        count += 1      # 카운트

print(count/36)

0.8055555555555556