<a href="https://colab.research.google.com/github/unknown-jun/Basic_of_Python/blob/master/All_in_one_Python_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# 파이썬 최종 정리 노트!

## 1. 파이썬의 자료형 보기
     1. 숫자형
     2. 문자형
     3. 리스트
     4. 튜플
     5. 딕셔너리
     6. 집합
     7. bool

### 1.숫자형 !
        1-1. 정수형
        1-2. 실수형
        1-3. 숫자형을 다루는 몇몇 함수

#### 1-1 정수형: int()

In [ ]:
a = 56.34
print( int(a) )
b = 712.5678
print( int(b) )

56
712

#### 1-2 실수형은 float

In [ ]:
a = 67
b = 10.25
print(a+b)

77.25

#### 1-3 숫자형을 다루는 몇몇 함수들

In [ ]:
# **를 쓰면 제곱을 구할 수 있다.
a = 2**3
print(a)

b = 4**4
print(b)

8
256

In [ ]:
# //를 쓰면 나눗셈을 했을 때의 몫을 반환한다.
print(15//4)

print(105//10)

3
10

In [ ]:
# %을 사용하면 나눗셈을 했을 때의 나머지를 반환한다.
print(15%4)

print(105%10)

3
5

### 2.문자형!

#### 2-1. 문자형 만들기
    - 문자형을 만드는 방법은 총 4가지로 이루어져 있다. 
        1. 큰 따음표(" ")로 양쪽 두르기
        2. 작은 따음표(' ')로 양쪽 두르기
        3. 큰 따음표(""" """) 3개로 양쪽 두르기
        4. 작은 따음표(''' ''') 3개로 양쪽 두르기

In [ ]:
# 큰 따음표와 작은 따음표가 따로 있는 이유는 이 둘을 구분하기 위함이다.
print("Python is Jame's favourite language")
print('Michel said to me at that moment, "Watch out!!"')

Python is Jame's favourite language
Michel said to me at that moment, "Watch out!!"

In [ ]:
# 백슬래쉬(\)를 이용해서 따음표를 문자열에 추가하기
print('Python is Jame\'s favourite language')
print("Micheal said to me at the moment,\"Watch out\"")

Python is Jame's favourite language
Micheal said to me at the moment,"Watch out"

In [ ]:
# 줄을 바꾸는 것에는 두가지 방법이 존재한다.
# 1. 이스케이프 코드를 사용
print('Python is difficult\nBut Java is more difficult')
# 2. 작은/큰 따음표 3개를 붙이는 방법
saying = """
Two hands is better than one hand
One stone catch two birds at the same time
"""
print(saying)

Python is difficult
But Java is more difficult

Two hands is better than one hand
One stone catch two birds at the same time

#### 2-2. 문자형 연산

In [ ]:
# 문자형을 더해서 연결하기
a = 'Python '
b = 'is easy'
print(a + b)
print(type(a+b))

Python is easy
<class 'str'>

In [ ]:
# 문자열을 곱하여 요소를 여러 개로 만들기
a = 'I want to eat'
b = ' strawberry '
print(a + b * 3)

I want to eat strawberry  strawberry  strawberry

In [ ]:
# 응용: 프로그램 소제목 만들기
a = '=' * 38
b = '\t"Welcome to Python"'
print(a)
print(b)
print(a)

======================================
	"Welcome to Python"
======================================

#### 2-3. 문자형 인덱싱과 슬라이싱
- 인덱싱이란 숫자의 한 특정 부분만을 자르는 것
- 슬라이싱이란 숫자의 일정 부분을 자르는 것

In [ ]:
# 인덱싱의 예
a = 'Life is too short, you need a python'
print( a[0] )
print( a[14] )

L
o

In [ ]:
# -를 이용하면 뒤에서 부터 읽을 수 있다.
a = 'Life is too short, you need a python'
print( a[-1] )
print( a[-10] )

n
d

In [ ]:
# 슬라이싱을 이용한다면 일정 부분을 잘라낼 수 있다.
a = 'Life is too short, you need a python'
print( a[0:4] )
print( a[5:7] )
print( a[8:12] )

Life
is
too

In [ ]:
# 슬라이싱은 항상 0부터 시작할 필요가 없다
# 처음 숫자를 쓰지 않으면 자동적으로 처음부터 인덱스가 시작함

a = 'Life is too short, you need a python'
print( a[:17])

Life is too short

In [ ]:
# 인덱싱과 마찬가지로 슬라이싱도 -를 쓰면 역순으로 잘라냄

a = 'Life is too short, you need a python'
print(a[7:-11])

 too short, you ne

##### 슬라이싱으로 문자열 나누기

In [ ]:
a = '20201225Sunny'
date = a[:8]
weather = a[7:]

print(date)
print(weather)

20201225
5Sunny

- 문자열을 슬라이싱하여 문자열의 기능별로 변수에 담는 것이 가능하다

In [ ]:
a = '20201225Sunny'

year = a[:4]
day = a[4:8]
weather = a[8:]

print(year)
print(day)
print( weather )

2020
1225
Sunny

- 슬라이싱으로 문자열의 오류를 수정하는 방법  
만약 'I loke kebab'이라는 문자열을 수정하기 위해선 다음과 같은 작업이 필요하다

In [ ]:
a = 'I loke kebab'
a[3] = 'i'
# 오류메세지

TypeError: ignored

- 문자열은 요소의 값을 바꿀수 없는 immutable한 자료형이다.
- 그렇기에 슬라이싱 기법을 사용하여야만 문자열을 수정할 수 있다.

In [ ]:
a = 'I loke kebab'
b = a[:3] + 'i' + a[4:]
print(b)

I like kebab

#### 2-4. 문자열 포멧팅

In [ ]:
# 가장 가독성있고 직관적인 방법
a = 5
print(f'나는 햄버거를 {a}번 먹고 싶다')

나는 햄버거를 5번 먹고 싶다

In [ ]:
# 소수점을 표현하고 싶다면
a = 36.5
print(f'나의 지금 체온은 {a:0.2f}도야')

나의 지금 체온은 36.50도야

#### 2-5 문자열 관련 메소드들
|함수|뜻|
|:--:|:--:|
|count|문자열의 특정 문자의 갯수를 셀 때 쓰임|
|find|위치 알려주기 1|
|index|위치 알려주기 2|
|join|문자열 삽입|
|upper|소문자를 대문자로 바꾸기|
|lower|대문자를 소문자로 바꾸기|
|lstrip|왼쪽 공백 없애기|
|rstrip|오른쪽 공백 없애기|
|strip|공백 없애기|
|replace|문자열 바꾸기|
|split|문자열 나누기|

- built-in 함수로써 '문자열 변수명'.lower()의 형태로 쓰인다

**count**: 문자열의 특정 문자의 갯수를 셀 때 쓰이는 함수
- len 함수와는 다른 기능임을 유의 한다.
- len 함수는 문자열의 모든 문자들의 갯수를 출력한다.

In [ ]:
a = 'Banana'
print( a.count('n') )
print( len(a) )

2
6

**find/index**: 특정 문자의 인덱스 값을 출력하는 함수

In [ ]:
b = 'I like Python more then R'

print( b.find('p') ) # 해당 글자가 변수 안에 없을 때 -1을 변환하지만
print( b.find('P') )
print( b.index('R') )
print( b.index('p') ) #index는 변수 안에 해당 글자가 없을 때 오류를 출력한다.

-1
7
24

ValueError: ignored

**join**: 문자열 삽입시키는 함수

In [ ]:
print( '-'.join('19920329') )

1-9-9-2-0-3-2-9

**lstrip / rstrip / strip**: 공백 지우기

In [25]:
a = "    hi    "
a = a.lstrip()   # 왼쪽 공백을 지운다.
print(a)
print(len(a))

hi
6

In [24]:
b = "    hi    "
b = b.rstrip()   # 오른쪽 공백을 지운다.
print(b)
print(len(b))

    hi
6

In [23]:
c = "    hi    "
c = c.strip()    # 양쪽 공백을 지운다.
print(c)

hi

**replace**: 문자열 바꾸기
- replace(바꾸게 될 문자열, 바꿀 문자열) 처럼 사용하여 문자열 안의 특정한 값을 다른 값으로 치환한다.

In [1]:
b = "My friend is rich"
b = b.replace("My friend is", "I am")
print(b + " in my dream")

I am rich in my dream

**split**  
- split() 괄호안에 아무것도 넣지 않으면 공백(스페이스, 탭, 엔터 등)을 기준으로 문자열을 나눈다.
- split(';')처럼 괄호 안에 특정 값이 있을 경우에는 괄호 안의 값을 구분자로 하여 문자열을 나누게 된다.
- 이렇게 나눈 값들은 리스트에 하나씩 들어가게 된다.

In [4]:
a = 'Life is too short'
a = a.split()     # 공백을 기준으로 문자열을 나눔
print(a)

['Life', 'is', 'too', 'short']

In [6]:
b = 'a:b:c:d'    # 문자열을 
b = b.split(':') # split으로 ':'을 기준으로 나누면
print(b)         # 리스트의 형태로 출력한다.

['a', 'b', 'c', 'd']

#### 2-6 문자열 연습문제

1. letter가 바인딩하는 문자열에서 첫번째와 세번째 문자를 출력하세요
~~~
letters = 'python'
~~~

In [10]:
letters = 'python'
print(letters[0], letters[2])

p t

2. 자동차 번호가 다음과 같을 때 뒤에 4자리만 출력하세요
~~~
license_plate = "24가 2210"
~~~

In [13]:
license_plate = "24가 2210"
print(license_plate[-4:])
license_plate = license_plate.split(" ")
print( license_plate[1] )

2210
2210

3. 아래의 문자열에서 '홀' 만 출력하세요.
~~~
string = "홀짝홀짝홀짝"
~~~

In [15]:
string = "홀짝홀짝홀짝"
print( string[0::2] )

홀홀홀

4. 문자열을 거꾸로 뒤집어 출력하세요.
~~~
string = "PYTHON"
~~~

In [16]:
a = 'PYTHON'
print( a[::-1])

NOHTYP

5. 아래의 전화번호에서 하이푼 ('-')을 제거하고 출력하세요.
~~~
phone_number = "010-1111-2222"
~~~
~~~
실행 예
010 1111 2222
~~~

In [18]:
a = "010-1111-2222"
a = a.replace("-", " ")
print(a)

010 1111 2222

6. 25번 문제의 전화번호를 아래와 같이 모두 붙여 출력하세요.
~~~
실행 예
01011112222
~~~

In [26]:
a = "010-1111-2222"
a = a.replace("-", "")
print(a)

01011112222

7. url 에 저장된 웹 페이지 주소에서 도메인을 출력하세요.
~~~
url = "http://sharebook.kr"
~~~

In [32]:
url = "http://sharebook.kr"
print( url[-2:] )
url = url.split('.')
print(url[1])

kr
kr

8. 아래 코드의 실행 결과를 예상해보세요.
~~~
>> lang = 'python'
>> lang[0] = 'P'
>> print(lang)
~~~

In [34]:
lang = 'PYTHON'
lang[0]='p'
print(lang)

TypeError: ignored

- 파이썬에서 문자열은 immutable, 수정이 가능하지 않은 자료형으로써 수정이 불가하다.

9. 아래 문자열에서 소문자 'a'를 대문자 'A'로 변경하세요.
~~~
>> string = 'abcdfe2a354a32a'
~~~

In [35]:
string = 'abcdfe2a354a32a'
string = string.replace('a', 'A')
print(string)

Abcdfe2A354A32A

In [36]:
string = 'abcd'
string.replace('b', 'B')
print(string)

abcd

- 위와 같이 새로운 변수선언을 하지 않았을 경우에는 replace 메서드를 사용하였더라도 출력값에는 변화가 없다
- 문자열은 기본적으로 immutable한 자료형이기 때문

10. 화면에 '-'를 80개 출력하세요.

In [38]:
print('-'*80)

--------------------------------------------------------------------------------

11. 변수에 다음과 같은 문자열이 바인딩되어 있습니다.
~~~
t1 = 'python'
t2 = 'java'
~~~
변수에 문자열 더하기와 문자열 곱하기를 사용해서 아래와 같이 출력해보세요.
~~~
실행 예:
python java python java python java python java
~~~

In [42]:
t1 = 'python'
t2 = 'java'
t3 = t1 + ' ' + t2 + ' '
print(t3 * 4)

python java python java python java python java

12. 변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때 % formatting을 사용해서 다음과 같이 출력해보세요.
~~~
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
~~~
~~~
이름: 김민수 나이: 10
이름: 이철희 나이: 13
~~~

In [44]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13

13. 컴마를 제거한 후 이를 정수 타입으로 변환해보세요.
~~~
stock = "5,969,782,550"
~~~

In [47]:
stock = "5,969,782,550"
stock = stock.replace(",", "")
stock = int(stock) 
print(stock, type(stock) )

5969782550 <class 'int'>

14. 다음과 같은 문자열에서 '2020/03'만 출력하세요.
~~~
분기 = "2020/03(E) (IFRS연결)"
~~~

In [52]:
priod = "2020/03(E) (IFRS연결)"
print(priod[0:7])
s_p = priod.split(" ")
print(s_p[0][:-3])

2020/03
2020/03

15. 문자열의 좌우의 공백이 있을 때 이를 제거해보세요.
~~~
data = "   삼성전자    "
~~~

In [55]:
data = "   삼성전자    "
print(data)
data = data.strip()
print(data)

   삼성전자
삼성전자

16. 다음과 같은 문자열이 있을 때 이를 대문자 BTC_KRW로 변경하세요.
~~~
ticker = "btc_krw"
~~~

In [57]:
ticker = "btc_krw"
print( ticker.upper() )

BTC_KRW

17. 다음과 같은 문자열이 있을 때 이를 소문자 btc_krw로 변경하세요.
~~~
ticker = "BTC_KRW"
~~~

In [58]:
ticker = "BTC_KRW"
print( ticker.lower() )

btc_krw

18. 문자열 'hello'가 있을 때 이를 'Hello'로 변경해보세요.

In [60]:
hello = 'hello'
print( hello.capitalize() )

Hello

19. 파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx'로 끝나는지 확인해보세요.
~~~
file_name = "보고서.xlsx"
~~~

In [61]:
file_name = "보고서.xlsx"
print( file_name.endswith('xlsx') )

True

20. 파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx' 또는 'xls'로 끝나는지 확인해보세요.
~~~
file_name = "보고서.xlsx"
~~~

In [65]:
file_name = "보고서.xlsx"
file_name.endswith(('xlsx', 'xls'))

True

21. 파일 이름이 문자열로 저장되어 있을 때 startswith 메서드를 사용해서 파일 이름이 '2020'로 시작하는지 확인해보세요.
~~~
file_name = "2020_보고서.xlsx"
~~~

In [66]:
file_name = "2020_보고서.xlsx"
file_name.startswith('2020')

True

22. 다음과 같은 문자열이 있을 때 공백을 기준으로 문자열을 나눠보세요.
~~~
a = "hello world"
~~~

In [67]:
a = "hello world"
a = a.split()
print(a)

['hello', 'world']

23. 다음과 같이 문자열이 있을 때 btc와 krw로 나눠보세요.
~~~
ticker = "btc_krw"
~~~

In [69]:
ticker = "btc_krw"
ticker = ticker.split("_")
print(ticker)

['btc', 'krw']

24. 다음과 같이 날짜를 표현하는 문자열이 있을 때 연도, 월, 일로 나눠보세요.
~~~
date = "2021-01-03"
~~~

In [72]:
date = "2021-01-03"
year = date.split("-")[0]
month = date.split("-")[1]
day = date.split("-")[2]
print(f"오늘의 날짜는 {year}년 {month}월 {day}일 입니다.")

오늘의 날짜는 2021년 01월 03일 입니다.

### 3.리스트 자료형