<a href="https://colab.research.google.com/github/unknown-jun/Basic_of_Python/blob/master/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. for문
2단을 9번 나오게 하는게 아니라 2단부터 9단까지 출력해야 하므로 다음과 같이 작성해야 함

In [7]:
for i in range(2, 10):       # i는 2부터 10미만까지 출력이 된다.
    for e in range(1, 10):   # i는 1부터 10미만까지 출력이 된다.
      print( i ,' X ', e, ' = ', i*e)

2  X  1  =  2
2  X  2  =  4
2  X  3  =  6
2  X  4  =  8
2  X  5  =  10
2  X  6  =  12
2  X  7  =  14
2  X  8  =  16
2  X  9  =  18
3  X  1  =  3
3  X  2  =  6
3  X  3  =  9
3  X  4  =  12
3  X  5  =  15
3  X  6  =  18
3  X  7  =  21
3  X  8  =  24
3  X  9  =  27
4  X  1  =  4
4  X  2  =  8
4  X  3  =  12
4  X  4  =  16
4  X  5  =  20
4  X  6  =  24
4  X  7  =  28
4  X  8  =  32
4  X  9  =  36
5  X  1  =  5
5  X  2  =  10
5  X  3  =  15
5  X  4  =  20
5  X  5  =  25
5  X  6  =  30
5  X  7  =  35
5  X  8  =  40
5  X  9  =  45
6  X  1  =  6
6  X  2  =  12
6  X  3  =  18
6  X  4  =  24
6  X  5  =  30
6  X  6  =  36
6  X  7  =  42
6  X  8  =  48
6  X  9  =  54
7  X  1  =  7
7  X  2  =  14
7  X  3  =  21
7  X  4  =  28
7  X  5  =  35
7  X  6  =  42
7  X  7  =  49
7  X  8  =  56
7  X  9  =  63
8  X  1  =  8
8  X  2  =  16
8  X  3  =  24
8  X  4  =  32
8  X  5  =  40
8  X  6  =  48
8  X  7  =  56
8  X  8  =  64
8  X  9  =  72
9  X  1  =  9
9  X  2  =  18
9  X  3  =  27
9  X  4  =  36
9  X  5  =  45
9  X  6  =  54
9  X  7  =  63
9  X  8  =  72
9  X  9  =  81

설명: i = 2 일때 e 가 1 ~ 9까지 반복 실행

>  2 x 1 = 2 * 1


> 2 x 2 = 2 * 2


> 2 x 3 = 2 * 3


>       ~

> 2 X 9 = 2 * 9



      i = 3 일때 e 가 1 ~ 9까지 반복 실행
      i = 4 일때 e 가 1 ~ 9까지 반복 실행
                  :
      i = 9 일때 e 가 1 ~ 9까지 반복 실행

문제 25. 주사위를 10번 던져서 주사위의 눈을 10개 출력하시오

In [6]:
import random

dice = [1,2,3,4,5,6]

for i in range(1, 11):
  print(random.choice(dice))

4
4
3
6
2
6
4
2
4
1

문제 26. 주사위를 10번 던졌을 때 짝수가 나오는 횟수를 출력하시오!

In [13]:
import random

dice = [1,2,3,4,5,6]
cnt = 0

for i in range(1, 11):
  result = random.choice(dice) # 주사위의 눈이 result 변수에 할당이 됨
  if result % 2 == 0:          # result 변수의 주사위의 눈이 짝수면
    cnt = cnt + 1              # cnt를 1씩 증가 시킨다.

print(cnt)             # print의 위치를 for 문과 맞추어 cnt에 담긴 최종 결과를 출력한다.

7

문제 27. 위의 주사위를 10번 던져서 짝수가 나오는 횟수를 확인하는 작업을 5번 반복해서 짝수가 나오는 횟수가 5개가 나오게 하시오

In [15]:
import random

dice = [1,2,3,4,5,6]
cnt = 0

for i in range(1, 11):
  result = random.choice(dice)
  if result % 2 ==0:
    print(result)
    for e in range(1, 6):
      cnt = cnt + 1
print( cnt )

6
6
6
2
4
6
6
6
40

import rand